<div class="panel panel-default" style="height: 100%;">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-th"></span>PDM管理
	</div>
	<div class="panel-body">
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a id="pdm_upload" class="btn btn-sm btn-primary">上传PDM文件</a>
			</div>
		</div>
		<table class="table table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>表名称</th>
					<th>表含义</th>
				</tr>
			</thead>
			<tbody>
			#if(!$tableList.isEmpty())
				#foreach($table in $tableList)
				<tr class="tr_href" id="$!{table.id}">
					<td>$!{table.code}</td>
					<td>$!{table.name}</td>
				</tr>
				#end
			#else
				<tr>
					<td colspan="2">暂无表记录，请上传一个PDM文件。</td>
				</tr>
			#end
			</tbody>
			<tfoot>
				<tr>
					<td style="text-align: right;" colspan="5">
						<form id="pdmupload_form" class="ajaxform" action="$!{webapp}/pdm/tables!upload" method="post" enctype="application/x-www-form-urlencoded" tu="$!{webapp}/pdm/tables">
							<input type="file" id="pdm_file" name="pdm" style="display: none;"/>
						</form>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<script>
	$("#pdm_upload").click(function(){
		if(${tableList.size()}>0){
			if(!confirm("上传PDM文件将导致以前的表信息被删除，您确认吗？"))
				return;
		}
		$("#pdm_file").val("");
		$("#pdm_file").click();
		return false;
	});
	$("#pdm_file").change(function(){
		if($("#pdm_file").val()!="")
			$("#pdmupload_form").submit();
	})
	$(".tr_href").click(function(){
		location.href="$!{webapp}/pdm/columns?tableId="+$(this).attr("id");
	});
</script>